.thumbnail {
  width: 100%;
}

.video-title {
  margin-top: 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.video-stats,
.video-author {
  font-size: 12px;
  color: rgb(96, 96, 96);
}

.video-author {
  margin-bottom: 4px;
}

.video-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

.video-time {
  background-color: black;
  color: white;
  font-family: Roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 2px;
  position: absolute;
  bottom: 8px;
  right: 5px;
}

@media (max-width: 750px) {
  /* 600px or smaller */
  .video-grid {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 751px) and (max-width: 999px) {
    .video-grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  @media (min-width: 1000px) {
    .video-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

@media (min-width: 1000px) {
  .video-title {
    font-size: 16px;
    line-height: 24px;
  }
}

@media (min-width: 1000px) {
  .video-author,
  .video-stats {
    font-size: 14px;
  }
}

.channel-picture {
  position: relative;
  cursor: pointer;
}

.channel-picture .channel-picture-tooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto, Arial;
  position: absolute;
  background-color: white;
  padding: 8px;
  border-radius: 6px;
  bottom: -30px;
  margin-left: 10px;
  box-shadow: 4px 2px 4px 3px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
}

.channel-picture:hover .channel-picture-tooltip {
  opacity: 1;
}

.right-side-tooltip {
  width: 160px;
  padding-left: 10px;
}

.channel-profile-name {
  font-weight: 500;
}

.subscribers {
  color: rgb(120, 120, 120);
}

.profile-picture-tooltip {
  width: 50px;
  border-radius: 50px;
}
